name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  # JOBS 1: INTEGRAÇÃO CONTÍNUA (CI) - TESTES
  # Este job vai correr nos computadores do GitHub para ver se o código não está partido.
  ci-test:
    runs-on: ubuntu-latest
    steps:
    - name: Baixar código
      uses: actions/checkout@v3

    - name: Configurar Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Compilar Aplicação (Build)
      run: go build -v ./...

    - name: Correr Testes (Test)
      run: go test -v ./...

  # JOBS 2: DEPLOYMENT CONTÍNUA (CD) - ENTREGA
  # Este job tenta entrar na  VM para atualizar a app.
  # Nota: Vai falhar por Timeout porque a VM é local, mas a configuração esta certa!
  cd-deploy:
    needs: ci-test  # Só arranca se o CI passar (ficar verde)
    runs-on: ubuntu-latest
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          /home/appuser/go-notes/deploy.sh
